// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: Meiryo,"Hiragino Kaku Gothic Pro","MS PGothic",sans-serif;
  line-height: 1.66667;
  color: #333333;
  background-color: #fff;
}

main {
  padding-top: 9rem;
  min-height: 70rem;
  background-color: #FCFAF5;
}

.content {
  padding-top: 9rem;
  min-height: 70rem;
}

.content-header {
  max-width: 104rem;
  margin: 0 auto;
  padding: 3rem 2rem 0;
}

.content-header-title {
  padding-bottom: 3rem;
}

.content-container {
  max-width: 104rem;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.button {
  width: 15rem;
  border-radius: 0.6rem;
  padding: 0.5rem 0;
  border: 0.1rem solid #ddd;
  color: #fff;
  background-color: #F57C4B;
}

.button-box {
  text-align: center;
}

/*-----------------------------------------------------------------------------------------------------
   header            header           header           header           header           header
------------------------------------------------------------------------------------------------------*/
.header-nav {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: chocolate;
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgba(0,0,0,0.5,));
}
.header-title {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  &:hover {
    color: #ccc;
  }
}
.header-nav-menu {
  color: #fff;
  font-size: 1.4rem;
  &:hover {
    color: #ddd;
  }
}

/*-----------------------------------------------------------------------------------------------------
   footer          footer          footer          footer          footer          footer
------------------------------------------------------------------------------------------------------*/
.fameal_footer {
  background-color: chocolate;
  margin-top: -3rem;
}

.footer-container {
  margin: 0 9rem;
  padding: 0 1rem;
}

.footer-row {
  display: flex;
  align-items: center;
  height: 6.5rem;
  justify-content: space-between;
}

.footer-menu {
  padding: 0 1.5rem;
  display: inline;
  &.center {
    border-left: 0.1rem solid #000;
  }
}

.footer-copyright {
  margin-right: 3rem;
  p {
    margin-bottom: 0;
    font-size: 1.2rem;
  }
}

/*-----------------------------------------------------------------------------------------------------
     terms          terms          terms          terms          terms          terms
------------------------------------------------------------------------------------------------------*/
.terms .container-lg {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.terms .content {
  width: 100%;
}

.title-container h1 {
  font-size: 2.8rem;
  font-weight: bold;
}

.article-head {
  font-weight: bold;
  margin-top: 4rem;
}

.term-text {
  margin-top: 2rem;
  margin-bottom: 0;
}

/*-----------------------------------------------------------------------------------------------------
    privacy_policy          privacy_policy         privacy_policy         privacy_policy
------------------------------------------------------------------------------------------------------*/
.privacy_policy .container-lg {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.privacy_policy .content {
  width: 100%;
}

.policy-text {
  margin-top: 2rem;
  margin-bottom: 0;
}

/*-----------------------------------------------------------------------------------------------------
   top           top            top            top             top              top
------------------------------------------------------------------------------------------------------*/
.top.content {
  margin-top: -6rem;
}

.top .masthead {
  padding: 6rem 0 10rem;
  background-image: url('../../public/assets/images/family-meal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  height: 77rem;
}

.page-container{
  width: 98rem;
  margin: 0 auto;
}

.masthead-form {
  background-color: #fff;
  margin: 13rem 0;
  padding: 3rem;
  border-radius: 0.8rem;
  filter: drop-shadow(0.1rem 0.1rem 0.3rem rgba(0,0,0,0.2,));
  h1 {
    font-size: 2.8rem;
    font-weight: bold;
    padding: 0 1rem;
    margin-bottom: 2rem;
    line-height: 1.8;
  }
}

.top-register-button {
  display: block;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  width: 40rem;
  background-color: coral;
  text-decoration: none;
  &:hover {
    color: #fff;
    background-color: coral;
  }
}

/*-----------------------------------------------------------------------------------------------------
    register/login              register/login              register/login             register/login
------------------------------------------------------------------------------------------------------*/
.card-header {
  font-size: 2.4rem;
  text-align: center;
  padding: 0.8rem 0;
  background-color: #fff;
}

.reset-button {
  width: 24rem;
}

/*-----------------------------------------------------------------------------------------------------
   families/show             families/show            families/show            families/show
------------------------------------------------------------------------------------------------------*/
.header-family-name {
  font-weight: bold;
  display: inline-block;
  border-bottom: 0.2rem solid #000;
}

.family-main {
  padding: 0 2rem;
}

.family-section {
  margin: 2rem auto 6rem;
}

.today-meal {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

.today-recipe {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  margin-bottom: 3rem;
}

.today-recipe-title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  span {
    font-size: 3.6rem;
    margin-right: 1rem;
  }
}
